version: '3.8'

services:
  app:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - PORT=4000
      - SESSION_SECRET=${SESSION_SECRET:-change-me-in-production}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID:-}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET:-}
      - YANDEX_CLIENT_ID=${YANDEX_CLIENT_ID:-}
      - YANDEX_CLIENT_SECRET=${YANDEX_CLIENT_SECRET:-}
      - BACKEND_URL=${BACKEND_URL:-http://localhost:4000}
      - FRONTEND_URL=${FRONTEND_URL:-http://localhost:5173}
    volumes:
      - ./server:/app
      - /app/node_modules
    working_dir: /app

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    working_dir: /app
    environment:
      - VITE_API_URL=http://localhost:4000

